<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
    <p>IMAGE Upload</p>
    <br>
    <form method="post" action="upload/post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" /><br />
        <label for="image">Attach</label>
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>
</body>
</html>